@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: #000000;
  // color: #E8E8E8;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
 
  display:flex ;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-right: px;
  height: 300px;
  margin-top: 20px;
}
.name{  
  z-index: 80%;
margin-right: -100px;
background-color:darkgrey;
width: 300px;
height: 300px;
border-radius: 5%
}
.name1{
  margin-right: -100px;
background-color:darkgrey;
width: 300px;
height: 300px;
border-radius: 5%;
}
.name2{
  margin-right: -100px;
  background-color:darkgrey;
width: 300px;
height: 300px;
border-radius: 5%
}
.name3{
  margin-right: -100px;
  background-color:darkgrey;
width: 300px;
height: 300px;
border-radius: 5%
}
.name4{
  background-color:darkgrey;
width: 300px;
height: 300px;
border-radius: 5%
}
